{% extends "base.html" %}

{% block content %}
<div class="bg-image"></div>
<div class="container-fluid d-flex justify-content-center align-items-center mt-5">
    <div class="col-md-6">
        {% if request.resolver_match.url_name == 'catalogue' %}
        <div class="card1" id="panel1" style="width:inherit; margin-left: 180px;" >
            <div class="card-body">
                <div class="row2">
                    <div class="col text-center">
                        <div>
                            <a style="margin-left:20px;margin-top:-67px" href="{% url 'default' %}" class="arrow left"></a>
                        </div>
                        <br />
                        <h3 style="color: aliceblue; font-family:'Arial Unicode MS';font-weight:bold">Room Catalogue</h3>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <form method="get" action="{% url 'cataloguelist' %}" id="catalogForm">
                            <div class="form-group text-center">
                                <label class="text-white" style="font-size: 1.5rem;">Select Location</label>
                                <br />
                                <select class="form-control mx-auto" name="Location" style="width: 150px" onchange="submitFormAndShowPanel('panel2')">
                                    <option value="Location" disabled selected></option>
                                    {% for loc in loc %}
                                        <option value="{{ loc }}">{{ loc }}</option>
                                    {% endfor %}
                                </select> 
                            </div>
                        </form>
                        <br>
                        <br>
                      
                    </div>
                </div>
            </div>
        </div>

        {% elif request.path == '/hotelobsidian/cataloguelist/' %}
        <div class="card1" id="panel2">
            <div class="card-body">
                <div class="row">
                    <div class="col text-center">
                        <div>
                            <a style="margin-left:30px;margin-top:-175vh" href="{% url 'catalogue' %}" class="arrow left"></a>
                        </div>
                        <br /><h3 style="color:aliceblue; font-family:'Arial Unicode MS';font-weight:bold">Room Catalogue</h3> <br /><br />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="myDataList" style="color: aliceblue; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
                            {% for results in result %}
                                <div class="item" style="width: 300px; margin: 10px; text-align: center;">
                                    <ul>
                                        {% load static %}
                                        <img src="{% static results.4 %}" alt="Image: {{ results.4 }}" style="width:300px; height: 200px;" /> 
                                        <br/><br/>
                                        <p style="color: aliceblue;">Number of Beds: {{results.1}}</p>
                                        <p style="color: aliceblue;">Price: {{results.3}}</p>
                                        <p style="color: aliceblue;">Type: {{results.2}}</p>  
                                        {%if logintype == "user" %}   
                                        <a href="{% url 'booking' loc=location roomid=results.0 %}" class="btn btn-primary book-now"onclick="showPanel('panel3') style="width: 100px;height: 40px;">Book Now</a>
                                        {% endif %}
                                        <br/><br/> 
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                        <div style="margin-left:160px">
                            <span id="lblError" style="color: red; visibility: hidden;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% elif request.resolver_match.url_name == 'booking' %}
        <div class="card1" id="panel3" style="width:inherit; margin-left: 180px;" >
            <div class="card-body">
                <div class="row2">
                    <div class="col text-center">
                        <div>
                            <a style="margin-left:30px;margin-top:-57px" href="{% url 'catalogue' %}" class="arrow left"></a>
                        </div>
                        <br />
                        <h3 style="color: aliceblue; font-family:'Arial Unicode MS';font-weight:bold">Room Booking</h3>
                        <input class="form-control" id="hiddenid1" type="hidden" name="hiddenid1" style="display:none;">
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <form method="get" action="{% url 'booking_final' %}" onsubmit="return validateForm()">
                            <div class="form-group"> 
                                <center>
                                <input class="form-control" id="nodays" style="width: 180px;" name="nodays" placeholder="Number of Days">
                                <span style="color: red; display: none;" id="RequiredFieldValidator3">Number of Days are Required</span>
                                <span style="color: red; display: none;" id="RangeValidator1">Enter a Valid Number</span>
                                <br />
                                <button type="submit" class="btn btn-primary" id="BranchSelection1" style="width: 150px;">Continue</button>
                                <br />  
                                <br/>
                            </center>
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div> 

        {% endif %}
    </div>
</div>

<script>
    function validateForm() {
        var noOfDays = document.getElementById("nodays").value;
        var isValid = true;

        if (noOfDays === "") {
            document.getElementById("RequiredFieldValidator3").style.display = "block";
            isValid = false;
        } else {
            document.getElementById("RequiredFieldValidator3").style.display = "none";
        }

        if (!/^\d+$/.test(noOfDays)) {
            document.getElementById("RangeValidator1").style.display = "block";
            isValid = false;
        } else {
            document.getElementById("RangeValidator1").style.display = "none";
        }

        return isValid;
    }
function submitFormAndShowPanel(panelId) {
    // Submit the form
    document.getElementById('catalogForm').submit();

    // Handle panel transition
    var panels = ['panel1', 'panel2', 'panel3'];
    for (var i = 0; i < panels.length; i++) {
        var panel = document.getElementById(panels[i]);
        if (panels[i] === panelId) {
            panel.style.display = 'block';
        } else {
            panel.style.display = 'none';
        }
    }
}


</script>

<style>
    body {
        overflow-x: hidden;
    }

    .bg-image {
        background-image: url('/static/3660.jpg');
        background-size: cover;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }

    .card1 {
        background-color: rgba(0, 0, 0, 0.7);
        color: black;
        border-color: black;
        border-radius: 20px;
        width: auto;
        height: auto;
        backdrop-filter: blur(2px);
        margin-bottom: 20px;
        margin-left: -50px;
    }

    .myDataList {
        margin-left: -70px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .myDataList>div {
        width: 48%;
        margin-bottom: 20px;
    }

    .myDataList .item {
        float: left;
        margin-right: 80px;
    }
    .arrow {
            position: absolute;
            top: 50%;
            width: 20px;
            height: calc(1.4 * 14px);
            background: transparent;
            border-top: 1vmin solid white;
            border-right: 1vmin solid white;
            box-shadow: 0 0 0 lightgray;
            transition: border-color 200ms ease;
        }
        
        .arrow.left {
            left: 0;
            transform: translate3d(0, -50%, 0) rotate(-135deg);
        }
        
        .arrow:hover {
            border-color: #2196F3;
        }
        
        .arrow:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-40%, -60%) rotate(45deg);
            width: 100%;
            height: 100%;
        }
</style>
{% endblock %}
